springdoc:
  use-fqn: true
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

spring:
  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: false
    hibernate:
      ddl-auto: none

decorator:
  datasource:
    p6spy:
      enable-logging: true