<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="APP_LOGGER_NAME" value="site.codecrew"/>

    <springProfile name="default">
        <include resource="appenders/console-plain-appender.xml"/>

        <logger name="${APP_LOGGER_NAME}" level="DEBUG"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <include resource="appenders/console-json-appender.xml"/>

        <logger name="${APP_LOGGER_NAME}" level="DEBUG"/>

        <root level="ERROR">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

<!--    <springProfile name="test">-->
<!--        <include resource="appenders/console-json-appender.xml"/>-->

<!--        <logger name="${APP_LOGGER_NAME}" level="DEBUG"/>-->

<!--        <root level="INFO">-->
<!--            <appender-ref ref="CONSOLE"/>-->
<!--        </root>-->
<!--    </springProfile>-->

<!--    <springProfile name="dev">-->
<!--        <include resource="appenders/console-json-appender.xml"/>-->
<!--        <include resource="appenders/slack-appender.xml"/>-->
<!--        <include resource="appenders/slack-async-appender.xml"/>-->
<!--        <include resource="properties/slack-dev.xml"/>-->

<!--        <logger name="${APP_LOGGER_NAME}" level="DEBUG"/>-->

<!--        <root level="ERROR">-->
<!--            <appender-ref ref="CONSOLE"/>-->
<!--            <appender-ref ref="ASYNC-SLACK"/>-->
<!--        </root>-->
<!--    </springProfile>-->

<!--    <springProfile name="qa">-->
<!--        <include resource="appenders/console-json-appender.xml"/>-->
<!--        <include resource="appenders/slack-appender.xml"/>-->
<!--        <include resource="appenders/slack-async-appender.xml"/>-->
<!--        <include resource="properties/slack-qa.xml"/>-->

<!--        <logger name="${APP_LOGGER_NAME}" level="INFO"/>-->

<!--        <root level="ERROR">-->
<!--            <appender-ref ref="CONSOLE"/>-->
<!--            <appender-ref ref="ASYNC-SLACK"/>-->
<!--        </root>-->
<!--    </springProfile>-->

<!--    <springProfile name="prd">-->
<!--        <include resource="appenders/console-json-appender.xml"/>-->
<!--        <include resource="appenders/slack-appender.xml"/>-->
<!--        <include resource="appenders/slack-async-appender.xml"/>-->
<!--        <include resource="properties/slack-prd.xml"/>-->

<!--        <logger name="${APP_LOGGER_NAME}" level="INFO"/>-->

<!--        <root level="ERROR">-->
<!--            <appender-ref ref="CONSOLE"/>-->
<!--            <appender-ref ref="ASYNC-SLACK"/>-->
<!--        </root>-->
<!--    </springProfile>-->

</configuration>
