spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: account-service
              uri: ${ACCOUNT_SERVICE_URL:http://localhost:20020}
              predicates:
                - Path=/api/v1/members/**, /api/v1/oauth/**
            - id: account-service
              uri: ${YOUTUBE_SERVICE_URL:http://localhost:20020}
              predicates:
                - Path=/api/v1/youtube/**