x-public-filters: &publicFilters
  - RequestLoggingFilter
  - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials

x-secured-filters: &securedFilters
  - RequestLoggingFilter
  - JwtClaimHeaderGatewayFilter
  - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials


spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: youtube-videos-public
              order: -10
              uri: ${YOUTUBE_SERVICE_URL:http://localhost:20020}
              predicates:
                - Path=/api/v1/youtube/videos
              filters: *publicFilters
            - id: member-service-public
              uri: ${MEMBER_SERVICE_URL:http://localhost:20020}
              predicates:
                - Path=/api/v1/oidc/**
              filters: *publicFilters

            # private
            - id: member-service
              uri: ${MEMBER_SERVICE_URL:http://localhost:20020}
              predicates:
                - Path=/api/v1/members/**
              filters: *securedFilters

            - id: youtube-service
              uri: ${YOUTUBE_SERVICE_URL:http://localhost:20020}
              predicates:
                - Path=/api/v1/youtube/**
              filters: *securedFilters

            - id: world-master-service
              uri: ${WORLD_MASTER_SERVICE_URL:http://localhost:20040}
              predicates:
                - Path=/api/v1/world-masters/**
              filters: *securedFilters



#            - id: world-websocket
#              uri: ${WORLD_SERVICE_WS_URL:ws://localhost:20040}
#              predicates:
#                - Path=/api/v1/ws/worlds/**, /api/v1/ws/worlds
#              filters: *securedFilters
#
#            - id: world-players
#              uri: ${WORLD_SERVICE_URL:http://localhost:20040}
#              predicates:
#                - Path=/api/v1/players/**
#              filters: *securedFilters