server:
  port: ${SERVER_PORT:8443}
  compression:
    enabled: true
  shutdown: graceful

logging:
  level:
    reactor.netty: DEBUG
    org.springframework.cloud.gateway: DEBUG

management:
  server:
    port: ${MANAGEMENT_PORT:20011}

spring:
  application:
    name: codecrew-api-gateway
  config:
    import:
      - logging.yml
      - monitoring.yml
      - classpath:application-cors.yml
      - classpath:application-filter.yml
      - classpath:application-route.yml
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: false
          httpclient:
            connect-timeout: 3000
            response-timeout: 3s
            wiretap: true
