server:
  port: ${SERVER_PORT:8443}
  compression:
    enabled: true
  shutdown: graceful

management:
  server:
    port: ${MANAGEMENT_PORT:20011}

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: TRACE
    org.springframework.web.reactive: TRACE
    reactor.netty: TRACE
    org.springframework.http.server.reactive: TRACE

spring:
  application:
    name: codecrew-api-gateway
  config:
    import:
      - logging.yml
      - monitoring.yml
      - classpath:application-cors.yml
      - classpath:application-filter.yml
      - classpath:application-route.yml
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: false
          httpclient:
            response-timeout: 5s
            connect-timeout: 3000
            pool:
              type: elastic
              max-connections: 500
              max-idle-time: 30s
              acquire-timeout: 3000
            compression: true
            wiretap: false
            ssl:
              use-insecure-trust-manager: false
              handshake-timeout: 10s
