server:
  port: ${SERVER_PORT:8443}
  compression:
    enabled: true
  shutdown: graceful


management:
  server:
    port: ${MANAGEMENT_PORT:20011}

app:
  security:
    permit-all: ${APP_SECURITY_PERMIT_ALL_PATHS}

spring:
  application:
    name: ${APP_NAME}
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  # NimbusReactiveJwtDecoder
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${AUTH_ISSUER_URI}
  reactor:
    context-propagation: auto
  config:
    import:
      - logging.yml
      - monitoring.yml
      - classpath:application-cors.yml
      - classpath:application-route.yml
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: false
          httpclient:
#            response-timeout: 10s
#            connect-timeout: 3000
            response-timeout: 60s
            connect-timeout: 60000
            pool:
              type: FIXED
              max-connections: 300
              acquire-timeout: 3000
              max-idle-time: 2s
              eviction-interval: 1s
              max-life-time: 0s
            compression: true
            wiretap: false
            ssl:
              use-insecure-trust-manager: false
              handshake-timeout: 10s

