spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: account-service
              uri: ${ACCOUNT_SERVICE_URL:http://localhost:20020}
              predicates:
                - Path=/api/v1/members/**, /api/v1/oauth/**, /api/v1/auth/**
            - id: youtube-service
              uri: ${YOUTUBE_SERVICE_URL:http://localhost:20020}
              predicates:
                - Path=/api/v1/youtube/**
            - id: world-service
              uri: ${WORLD_SERVICE_URL:http://localhost:20020}
              predicates:
                - Path=/api/v1/ws/worlds/**, /api/v1/players/**