server:
  ssl:
    enabled: false
  http2:
    enabled: false

logging:
  level:
    reactor.netty.http.server: DEBUG
    org.springframework.cloud.gateway: TRACE
#logging:
#  level:
#    root: INFO
#    org.springframework.cloud.gateway: TRACE
#    org.springframework.web.reactive: TRACE
##    reactor.netty: TRACE
#    org.springframework.http.server.reactive: TRACE
#    reactor.netty.http.client: DEBUG
#    reactor.netty.transport: DEBUG
#    reactor.netty.resources: DEBUG

#logging:
#  level:
#    org.springframework.cloud.gateway.handler.RoutePredicateHandlerMapping: DEBUG
#    org.springframework.cloud.gateway.handler.FilteringWebHandler: DEBUG
#    site.codecrew.apigateway.filter.global.RequestLoggingFilter: INFO
#
#    org.springframework.cloud.gateway.filter.WeightCalculatorWebFilter: INFO
#    org.springframework.web.reactive.result.method.annotation.ResponseEntityResultHandler: INFO
#    org.springframework.http.server.reactive.ReactorHttpHandlerAdapter: INFO
#
#    reactor.netty.resources: DEBUG
#    reactor.netty.http.client: DEBUG
#    reactor.netty.transport: DEBUG
#    io.netty.channel: INFO