spring:
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            corsConfigurations:
              '[/**]':
                allowedOrigins: ${CORS_ALLOWED_ORIGINS}
                allowedMethods: ${CORS_ALLOWED_METHODS:*}
                allowedHeaders: ${CORS_ALLOWED_HEADERS:*}
                allowCredentials: ${CORS_ALLOW_CREDENTIALS:true}
